
.navbar {
  display: flex;
  height: 80px;
  align-items: center;
}

.ripl {
  color: #2aabe2;
 
}

.links a {
  text-decoration: none;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* 
Need to get the background change to go to the top of the screen. Also figure out why the background color is not transitioning 
*/
.links a:hover {
  color: whitesmoke;
  background-color: #2aabe2;
  transition: background-color 0.3s, color 0.3s;
}

.ripl-image {
  width: auto; /* should probably adjust this with more appropriate css */
  height: 60px;
}
